.seller_wrapper {
  position: absolute;
  left: 0;
  top: 191px;
  width: 100%;
}

.seller_info {
  padding-left: 15px;
  margin-top: 10px;
}

.address_wrapper {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #f4f4f4;
}
.address_left {
  flex: 1;
  background: url("./address.png") no-repeat left center;
  background-size: 14px 16px;
  padding-left: 26px;
  padding-right: 31px;
  font-size: 14px;
  line-height: 19px;
}
.address_right {
  flex: 0 0 60px;
  background: url("./line.png") no-repeat left center;
  background-size: 1px 15px;
}

.address_right .content {
  width: 100%;
  height: 100%;
  background: url("./phone.png") no-repeat center center;
  background-size: 18px 18px;
}
.pics_wrapper {
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
  white-space: nowrap;
}

.pics_list {
}
.pics_item {
  display: inline-block;
  margin-right: 11px;
  width: 93px;
  height: 75px;
}
.pics_item img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.safety_wrapper {
  padding: 15px 14px 15px 25px;
  background: url("./safety.png") no-repeat left center;
  background-size: 14px 16px;
  font-size: 14px;
}

.safety_wrapper span {
  float: right;
  font-size: 14px;
}

.tip_wrapper {
  padding-left: 15px;
}

.delivery_wrapper {
  background: url("./delivery.png") no-repeat left center;
  background-size: 14px 16px;
  padding: 15px 0 15px 25px;
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4;
}
.shipping_wrapper {
  background: url("./time.png") no-repeat left center;
  background-size: 15px 15px;
  padding: 15px 17px 15px 25px;
  font-size: 14px;
  line-height: 18px;
}

.other_wrapper {
  padding-left: 15px;
}

.server_wrapper {
  background: url("./server.png") no-repeat left center;
  background-size: 15px 15px;
  padding: 15px 0px 17px 25px;
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4;
}
.poi_server {
  display: inline-block;
  margin-left: 17px;
}
.poi_server img {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  vertical-align: middle;
}
.discounts_wrapper {
  padding: 17px 25px 19px 0;
}

.discounts_item {
  display: flex;
}

.discounts_item .icon {
  flex: 0 0 25px;
}

.discounts_item .icon img {
  width: 15px;
  height: 15px;
}
.discounts_item .text {
  flex: 1;
  font-size: 14px;
}
