.shopcart {
  width: 100%;
  height: 51px;
  background-color: #443f43;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 20;
}

.shopcart.highlight {
  background-color: #2d2b2a;
}

.shopcart .content-left {
  flex: 1;
}

.shopcart .content-left .logo-wrapper {
  width: 50px;
  height: 50px;
  background-color: #666666;
  border-radius: 50%;
  position: relative;
  top: -14px;
  left: 10px;
  text-align: center;
  float: left;
}

.shopcart .content-left .logo-wrapper.highlight {
  background-color: #ffd161;
}

.shopcart .content-left .logo-wrapper .logo {
  font-size: 28px;
  color: #c4c4c4;
  line-height: 50px;
}

.shopcart .content-left .logo-wrapper .logo.highlight {
  color: #2d2b2a;
}

.shopcart .content-left .logo-wrapper .num {
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  font-size: 9px;
  background-color: red;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.desc-wrapper {
  float: left;
  margin-left: 13px;
}

.desc-wrapper .total-price {
  font-size: 18px;
  line-height: 33px;
  color: white;
}

.shopcart .content-left .desc-wrapper .tip {
  font-size: 12px;
  color: #bab9b9;
  line-height: 51px;
}

.shopcart .content-left .desc-wrapper .tip.highlight {
  line-height: 12px;
}

.shopcart .content-right {
  flex: 0 0 110px;
  text-align: center;
  font-size: 15px;
  color: #bab9b9;
  line-height: 51px;
}

.shopcart .content-right.highlight {
  background-color: #ffd161;
  color: #2d2b2a;
}

.shopcart .shopcart-list {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.shopcart .shopcart-list.show {
  transform: translateY(-100%);
}

.shopcart .shopcart-list .list-top {
  height: 30px;
  text-align: center;
  font-size: 11px;
  background-color: #f3e6c6;
  line-height: 30px;
  color: #646158;
}

.shopcart .shopcart-list .list-header {
  height: 30px;
  background-color: #f4f4f4;
}

.shopcart .shopcart-list .list-header .title {
  float: left;
  border-left: 4px solid #53c123;
  padding-left: 6px;
  line-height: 30px;
  font-size: 12px;
}
.shopcart .shopcart-list .list-header .empty {
  float: right;
  line-height: 30px;
  margin-right: 10px;
  font-size: 0;
}

.shopcart .shopcart-list .list-header .empty img {
  height: 14px;
  margin-right: 9px;
  vertical-align: middle;
}
.shopcart .shopcart-list .list-header .empty span {
  font-size: 12px;
  vertical-align: middle;
}

.shopcart .shopcart-list .list-content {
  max-height: 360px;
  overflow: hidden;
  background-color: #fff;
}

.shopcart .shopcart-list .list-content .food-item {
  height: 60px;
  padding: 12px 12px 10px 12px;
  border-bottom: 1px solid #f4f4f4;
}

.shopcart .shopcart-list .list-content .food-item .desc-wrapper {
  float: left;
  width: 240px;
}

.shopcart .shopcart-list .list-content .food-item .desc-wrapper .desc-left {
  float: left;
  width: 170px;
}

.shopcart
  .shopcart-list
  .list-content
  .food-item
  .desc-wrapper
  .desc-left
  .name {
  font-size: 16px;
  margin-bottom: 8px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 16px;
}
.shopcart
  .shopcart-list
  .list-content
  .food-item
  .desc-wrapper
  .desc-left
  .unit {
  font-size: 12px;
  color: #b4b4b4;
  overflow: hidden;
  height: 12px;
}
.shopcart
  .shopcart-list
  .list-content
  .food-item
  .desc-wrapper
  .desc-left
  .description {
  font-size: 12px;
  color: #b4b4b4;
}
.shopcart .shopcart-list .list-content .food-item .desc-wrapper .desc-right {
  float: right;
  width: 70px;
  text-align: right;
}

.shopcart
  .shopcart-list
  .list-content
  .food-item
  .desc-wrapper
  .desc-right
  .price {
  font-size: 12px;
  line-height: 38px;
}

.shopcart .shopcart-list .list-content .food-item .cartcontrol-wrapper {
  float: right;
  margin-top: 6px;
}

.shopcart-mask {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(7, 17, 27, 0.6);
}
